.cdevento{
    padding-left: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border: 1px solid #71a5ca;
    background-color: #e0ebf3; 
}

.col-md-5 mt-5 jumbotron bg-second{
    display: inline-block;
    
}

.escondido{
    display: none;
}

form{
    display:flex-column;
    justify-content: space-between;
}

input, select, textarea, label{
    margin-bottom: 20px;
}

#span1 {
    margin-right: 10px;
    
}

.cert{
    display: flex;
    
}

#cadastrar-usuarios {
    visibility: hidden;
}

footer {
    margin: auto;
    width: 100%;
    bottom: 0;
    position: fixed;
}
