.escondido{
    display: none;
}
form{
    display:flex-column;
    justify-content: space-between;
}

input, select, textarea, label{
    margin-bottom: 20px;
}

#span1 {
    margin-right: 10px;
    
}

.cert{
    display: flex;
    
}